{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('loginForm') }}
    {{ encore_entry_link_tags('showUser') }}
    {{ encore_entry_link_tags('forgotpasswordform') }}
{% endblock %}

{% block body %}
    {% include "/components/_topbar.html.twig" %}
    <div class="reset-background">

      <a class="return" href="{{ path('reinitPassword')}}">
        <img src="/Image/forgotPassword/return.svg">
     </a>

    <img class="headerimg" src="/Image/forgotPassword/logo gaea21.png">
    <p class="new-text">Entrez votre nouveau mot de passe</p>
    <div data-token="{{ token }}" id="ResetPassword"></div>
    <div id="reinitPasswordLostMessage"></div>
    </div>

    
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('form') }}
        {{ encore_entry_script_tags('ResetPassword') }}
    {% endblock %}
{% endblock %}
