{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('forgotpasswordform') }}
    {{ encore_entry_link_tags('showUser') }}
{% endblock %}

{% block body %}
    {% include "/components/_topbar.html.twig" %}
  <div class="img-background">

  <a class="return" href="{{ path('login')}}">
   <img src="/Image/forgotPassword/return.svg">
 </a>

  <img class="welcome" src="/Image/forgotPassword/logo gaea21.png">

  <div id="forgotpasswordform"></div>
  </div>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('form') }}
        {{ encore_entry_script_tags('forgotpasswordform') }}
    {% endblock %}
{% endblock %}