{% extends 'base.html.twig' %}

{% block title %}Formations certifiantes
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('topBar') }}
	{{ encore_entry_link_tags('FormationsCertifiantes') }}

	<link href="{{ asset('style/coaching/FormationsCertifiantes/formations_certifiantes_scss.scss') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	{% include "/components/_topbar.html.twig" %}


	<div id="main"></div>

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('FormationsCertifiantes')}}

	{% endblock %}

{% endblock %}
