{% extends 'base.html.twig' %}

{% block title %} Ajouter article{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('materialize/css/materialize.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('materialize/css/Style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('materialize/css/formulaire_ajout_article.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
  <div class="container">
      <div class="row text-center">
          <div class="col-8 d-flex justify-content-center">
              <h1 class="text-center">Ajouter un article</h1>
              {{ form_start(form) }}
               {{ form(form) }}
              {{ form_end(form)}}
          </div>
      </div>
  </div>
{% endblock %}
