{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('temoignageHumansGaea21') }}
	{{ parent() }}

{% endblock %}


{% block body %}
	{% include "/components/_topbar.html.twig" %}

	<div id="temoignage">


		<section class="sectionHead">
			<img class="logoHumans" src="{{ asset('images/humansGaea21/logoHumans.png') }}"/>
			<p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</section>

		<div class="menu">
			<ul class="liste">
				<li class="elemMenu">Le modèle d'accompagnement</li>
				<li class="elemMenu">Le profil de compétences post gaea21</li>
				<li class="elemMenu">Emploi/stages</li>
				<li class="elemMenu">Témoignages</li>

			</ul>
			<img class='elemSuiv' src="{{ asset('images/humansGaea21/nextElem.png') }}"/>

		</div>

		<section id="hearderTemoignage">
			<h1 class="titreTemoignage">Témoignages</h1>
			<p class="titreParagraphe">Découvrez différents témoignages inspirants !
			</p>
		</section>

		<section id="menuTemoignages"></section>

		<section id="lecturePodcast"></section>

		<div id="somLettre"></div>

		<div id="contenue">
			<section id="navBar">
				<div id="navBarDep"></div>

				<div id="NavBarPro"></div>

			</section>

			<section id="videoTem"></section>

		</div>

		<footer id="humansFooter" class="titleGaeaFooter"></footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</div>

{% endblock %}


{% block javascripts %}
	{{encore_entry_script_tags('temoignageHumansGaea21')}}
{% endblock %}
