{% extends 'base.html.twig' %}

{% block title %}Page Coaching{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('topBar') }}
    {{ encore_entry_link_tags('smallCardApp') }}
    {{ encore_entry_link_tags('prevArrowApp') }}
    <link href="{{ asset('style/coaching/humain_av_pt_ap/humain_av_pt_ap.css') }}" rel="stylesheet"/>
    
{% endblock %}

{% block body %}
{% include "/components/_topbar.html.twig" %}


{# HEADER #}

<section class="headerAccompagnement">
    <div id="header1">
        <article>
            <h1>Le modèle d'accompagnement de gaea21</h1>
            <p></p>
        </article>
    </div>

    <div id="header2">
    </div>
</section>

{# LISTE AVEC DES LIENS #}
<div class="listeLiens">
    <ul>
        <li><a href="/coaching/modele_accompagnement">Le modèle d'accompagnement de gaea21</a></li>
        <li><a href="#">Gestion de carrières</a></li>
        <li><a href="/emploi-et-stage">Emploi / Stages</a></li>
        <li><a href="#">Partenaires Formation / Emploi</a></li>
    </ul>
</div>

{# MAIN #}
<main>

    <a id="prevArrow" data-link="/coaching/humain"></a>

    {# CYCLES #}
    <section id="cycles">

        <div class="smallCard" data-title="Cycle de vie du gaeien / projet" data-imgsrc="{{ asset('images/coaching/accompagnement/projet.png') }}" data-activecard="true" data-link="/coaching/projet"></div>

        <div class="smallCard" data-title="Cycle de vie du gaeien / humain" data-imgsrc="{{ asset('images/coaching/accompagnement/humain2.png') }}" data-activecard="true" data-link="/coaching/humain"></div>

        <div class="smallCard" data-title="Statistiques" data-imgsrc="{{ asset('images/coaching/accompagnement/statistiques.png') }}" data-activecard="true" data-link="/coaching/modele_accompagnement2"></div>
        
    </section>

    {# DE QUOI S'AGIT-IL #}
    <section class="projet" id="humainPendant">
        
            <h2>Le cycle de vie du gaeien / humain <span>pendant</span> !</h2>
            <div><p class="projetDesc"></p></div>

            <div class="stepsContainer">
                

                <div class="pointilleAv"></div>
                <div class="pointilleAv"></div>
                <div class="pointilleAv"></div>
                <div class="pointilleAv"></div>
                <div class="pointilleAv"></div>

                <div class="progressContainer">
                
                    <div class="progression" id="progression"></div>

                    <div class="circle active"><p class="pendant">Entretien / Engagement</p></div>

                    <div class="circle"><p class="pendant">Mise en place / Accueil</p></div>

                    <div class="circle"><p class="pendant">Intégration / Partie 1</p></div>

                    <div class="circle"><p class="pendant">Intégration / Partie 2</p></div>

                    <div class="circle"><p class="pendant">Intégration / Partie 3</p></div>

                    <div class="circle"><p class="pendant">Intégration / Partie 4</p></div>

                    <div class="circle"><p class="pendant">Mi-stage</p></div>

                    <div class="circle"><p class="pendant">Fin de stage</p></div>

                </div>

                <div class="pointille"></div>
                <div class="pointille"></div>
                <div class="pointille"></div>
                <div class="pointille"></div>
                <div class="pointille"></div>
            </div>
                    
    </section>

</main>

<div id="carrousel">

    <button id="g"><a id="lien_avant">&#8249;</a></button>

    <div id="container">

        <div class="slide">

            <div class="slideContainer">

                <div class="slideImg center">
                    <img class="pendant1" src="{{ asset('images/coaching/humain/entretien.png') }}">
                </div>

                <div class="slideContent">

                    <h3>Entretien / Engagement</h3>
                    <p>L’étape pendant, démarre avec <b>l’entretien d’embauche</b> pendant lequel au-delà des questions traditionnelles l'équipe RH va alors affiner le profil préliminaire issu du questionnaire initial sous forme de questions complémentaires. Le <b>profil</b> obtenu précédemment sera alors validé et/ou modifié et partagé au <b>coach</b> attribué au candidat en cas d'engagement pour discussion lors de la séance <b>"Nice to meet you".</b> Ce profil servira de base d’accompagnement personnalisé tout au long de l’aventure avec gaea21 et même après.</p>
                    <br>
                    <p> L'étape suivante est <b>l'engagement</b> du candidat et le déclenchement de son <b>processus d'intégration.</b></p>

                </div>

            </div>

        </div>
        
        <div class="slide">

            <div class="slideContainer">

                <div class="slideImg"><img class="pendant2" src="{{ asset('images/coaching/humain/accueil1.png') }}"></div>

                <div class="slideContent">

                    <h3>Mise en place / Accueil<br>
                    "Nice To Meet You"</h3>
                    <p>L’intégration commence par une séance <b>"Nice To Meet You",</b> qui est une séance introductive avant l'accueil officiel dans l'organisation qui marque le début de la collaboration. Cette séance permet :</p>
                    
                    <ul>
                        <li><p>La prise en main des <b>outils de télétravail</b> et de <b>gestion/suivi de projet individuels</b></p></li>
                        <li><p>La mise en place d'<b>objectifs</b> et d'un <b>plan de formation</b> préliminaire (en concertation avec l'université dans le cadre du suivi académique)</p></li>
                    </ul>

                </div>

            </div>

            <div class="slideContainer">

                <ul>
                    <li><p>La mise en place de la première étape d'un <b>personal coaching</b> basé sur les réponses au questionnaire pré-entretien ainsi que sur le détermination des premières caractéristiques comportementales et base d'une <b>carte de personnalité</b> établie grâce aux questions complémentaires posées pendant l'entretien. Ensemble avec son coach, le collaborateur va lancer les bases d'un travail sur des caractéristiques personnelles saillantes identifiées. Ce travail interviendra tout au long du temps de collaboration dans gaea21 et au-delà si le collaborateur souhaite poursuivre avec son coach.</p></li>
                    <li><p>La mise en place des premières étapes d'un <b>job coaching</b> et la détermination d'un <b>plan de formation</b> lié aux objectifs de formation et suivi tout au long de la collaboration avec gaea21. Dans le même temps, le coach et le candidat poserons les bases de détermination d'un <b>plan de carrière</b> qui influencera le choix des compétences à développer et des projets attribués.</p></li>
                    <li><p>La mise en place d'une première étape fondamentale de <b>formation en structuration du temps :</b>création de plages horaires prédéterminées, planification à l'avance et mise en place d'objectifs par plage de temps de sa collaboration (son agenda); et délimitation stricte de son <b>temps personnel</b> versus son temps gaea21 !</p></li>
                </ul>

            </div>

            <div class="slideContainer">

                <div class="slideImg"><img class="pendant3"src="{{ asset('images/coaching/humain/accueil2.png') }}"></div>

                <div class="slideImg"><img class="pendant4"src="{{ asset('images/coaching/humain/accueil3.png') }}"></div>

                <div class="slideImg"><img class="pendant5"src="{{ asset('images/coaching/humain/accueil4.png') }}"></div>
                
            </div>

            <div class="slideContainer">

                <p>Ces informations seront nécessaires pour l’attribution des projets qui aura lieu lors de la <b>séance d’accueil</b> qui est la prochaine étape d'intégration.</p>
                
            </div>


            <div class="slideContainer">

                <div class="slideImg center">

                    <img class="pendant5" src="{{ asset('images/coaching/humain/accueil5.png') }}">
                    <img class="pendant6" src="{{ asset('images/coaching/humain/accueil6.png') }}">

                </div>

                <div class="slideContent">

                    <h3>Mise en place / Accueil<br>
                    Séance d'accueil</h3>
                    <p>Au cours de cette <b>séance d'accueil,</b> le nouveau collaborateur <b>se présente</b> à l'équipe dirigeante et aux coordinateurs des projets correspondants à son plan de formation préliminaire. C'est à ce moment-là que ses projets lui sont attribués sur la base des éléments suivants :</p>
                    <ul>
                        <li><p>Son <b>projet professionnel</b> et <b>plan de carrière</b> sur 3, 5 et 10 ans</p></li>
                        <li><p>Ses <b>objectifs de formation</b> ( liés aux pré-requis de son université et/ou aux compétences métier + expérience terrain et caractéristiques à développer pour réaliser son projet professionnel)</p></li>
                        <li><p><b>Sa disponibilité</b> ( % horaire hebdomadaire) et la <b>durée de son engagement</b></p></li>
                        <li><p>Ses préférences relatives aux <b>choix/thématiques</b> qu'il souhaite développer dans son temps gaea21</p></li>
                    </ul>

                </div>
                
            </div>

            

        </div>

        <div class="slide">

            <div class="slideContainer">

                <div class="slideImg">
                    <img class="pendant7" src="{{ asset('images/coaching/humain/integration1.png') }}">
                </div>

                <div class="slideContent">

                    <h3>Intégration / Partie 1</h3>
                    <p>C’est à ce moment que l’aventure commence. Le nouveau gaeien entre alors dans un processus de 10 jours au cours duquel plusieurs <b>séances d’accompagnement</b> sont mises en place.<br>
                     Dès la fin de la séance d'accueil, le nouveau collaborateur reçoit un mail qui lui indique les personnes à contacter et lui rappelle le déroulement de ses 2 premières semaines. Il reçoit les informations suivantes :</p>

                </div>

            </div>

            <div class="slideContainer">

                <h4>Dans les 48h après sa séance d'accueil<br>
                "Phase d'acquisition du modèle gaea21, de prise connaissance et de mise en place dans projets et sous-projets" :</h4>

            </div>

            <div class="slideContainer">
            
                <p>Séance <b>“Let’s get started” :</b></p>
            </div>

            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>validation et explication du choix des <b>projets attribués</b> par rapport au plan de carrière et objectifs de compétences (à développer et consolider dans gaea21 et éventuellement à acquérir en formations complémentaires externes) permettant de réaliser ce plan de carrière (avec Job coach et équipe programe “référents”).</p></li>
                    </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant8" src="{{ asset('images/coaching/humain/integration2.png') }}">

                </div>
                
            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">

                    <ul>
                        <li><p>validation du <b>plan de formation métiers</b> (avec Job coach et programme “référents”) sur la base du tableau des compétences métiers.</p></li>
                        <li><p>mise en place du <b>plan de coaching personnel</b> avec coach attribué / sessions et organisé pendant toute la durée de la collaboration avec gaea21 et au-delà si entente et inscription dans programme alumni.</p></li>
                        <li><p>mise en place d’un <b>plan de formation interne</b> avec département “Formations” :<br>
                        <span>-</span>Formations staff I (mise à niveau développement durable, économie circulaire, économie verte) / Premiers 3 à 5 jours<br>
                        <span>-</span>Formations staff II (mise en place formation outils utilisation google suite) / Premiers 3 à 5 jours<br>
                        <span>-</span>Mise en place du programme individuel de formation (à la carte) en durabilité, économie circulaire, économie verte, économie de la transition (avec équipe formations) / toute la durée de la collaboration avec gaea21 et au-delà si inscription en tant qu’alumni</p></li>
                    </ul>

                </div>

            </div>

            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>Accueil et <b>mise en place dans les projets attribués</b> (coordinateurs de programme niveau 1) / premières 48h</p></li>
                        <li><p>Accueil et <b>mise en place dans les sous-projets attribués</b> (coordinateurs projets niveau 2 et 3) / 48h suivantes</p></li>
                        <li><p><b>Structuration finale de l'Agenda</b> selon le modèle gaea21 ( détermination plages de temps et objectifs temporels).</p></li>
                    </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant10" src="{{ asset('images/coaching/humain/integration4.png') }}">

                </div>
                
            </div>

        </div>

        <div class="slide">

            <div class="slideContainer">

                
                <h3>Intégration / Partie 2</h3>
                
            </div>

            <div class="slideContainer">

                <h4>2ème semaine<br>
                "Phase finale d'intégration dans gaea21" :</h4>
                

            </div>

            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>Introduction au <b>programme Values - valeurs, engagement durabilité et gaea21, conscience écologique</b> - (le lundi ou mardi suivant la séance d’accueil) / mise en place de <b>sessions de groupe</b> et suivi (dans le même groupe) tout au long la durée de collaboration.</p></li>
                    </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant11" src="{{ asset('images/coaching/humain/integration5.png') }}">

                </div>
                
            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">
                    <ul>
                        <li><p>Introduction au <b>programme Happiness</b> (le lundi ou mardi suivant la séance d’accueil) / mise en place de <b>sessions de groupe et suivi</b> (dans le même groupe) tout au long la durée de collaboration.</p></li>
                        <li><p>Réalisation d’une <b>vidéo de marketing personnelle</b> ( suivi par Job coach (à réaliser avant le vendredi 17h - 2ème semaine))</p></li>
                        <li><p>Mise en place dans <b>les programmes Staff Sustainability Program</b> (SSLP) par l'équipe Sustainable Living Program (durabilité individuelle / mise en place d'objectifs) / le lundi ou mardi suivant la séance d’accueil.</p></li>
                    </ul>
                </div>

            </div>

            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>Intégration au <b>programme Butterfly Effect</b> - par équipe community management - (soutien développement réseau gaea21 en faisant participer son réseau individuel - famille, amis, connaissances en fonction des projets et programmes proposés / lancés par gaea21 et de leur intérêt) / possibilité d’intégrer le programme ambassadeurs gaea21 / intégration au <b>forum en ligne gaea21</b> et au <b>Take action program</b> / le lundi ou mardi suivant la séance d’accueil.</p></li>
                    </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant12" src="{{ asset('images/coaching/humain/integration6.png') }}">

                </div>
                
            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">
                    <ul>
                        <li><p>Intégration au <b>gaea21 mobility program</b> (programme mobilité) / le lundi ou mardi suivant la séance d’accueil.</p></li>
                        <li><p>Intégration au <b>programme Green Events Series</b> (GES) de gaea21 / le lundi ou mardi suivant la séance d’accueil.</p></li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="slide">

            <div class="slideContainer">

                
                <h3>Intégration / Partie 3</h3>
                
            </div>

            <div class="slideContainer">

                <h4>3ème semaine</h4>
                

            </div>
            <div class="slideContainer">
            
                <p>Séance "<b>Get to know you</b>" avec coach personnel:</b></p>
                
            </div>
            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>point sur les <b>premières semaines d’intégration</b> avec coach attribué</p></li>
                        <li><p>mise en place définitive du <b>profil d'entrée gaea21</b> (validation finale plans de carrière, formations et objectifs de coaching)</p></li>
                   </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant13" src="{{ asset('images/coaching/humain/integration7.png') }}">

                </div>
                
            </div>

        </div>

        <div class="slide">

            <div class="slideContainer">

                
                <h3>Intégration / Partie 4</h3>
                
            </div>

            <div class="slideContainer">

                <h4>4ème semaine<br>
                "Phase de validation finale de l'intégration dans gaea21" : </h4>
                

            </div>

            <div class="slideContainer">
            
                <p>Séance <b>How is it going</b> / avec Job coach, RH projet, équipe programme référent et équipe formations :</b></p>
                
            </div>

            <div class="slideContainer">
            
                <div class="slideContent">

                    <ul>
                        <li><p>point sur <b>Suivi des compétences</b> dans les projets (référents)</p></li>
                        <li><p>point et <b>suivi des évaluations hebdomadaires</b> ( RH projet)</p></li>
                        <li><p>point et <b>suivi programmes happiness management, values,</b> participations aux <b>events</b> et <b>community management</b></p></li>
                   </ul>

                </div>

                <div class="slideImg center">

                    <img class="pendant14" src="{{ asset('images/coaching/humain/integration8.png') }}">

                </div>
                
            </div>

        </div>

        <div class="slide">

            <div class="slideContainer">

                <div class="slideImg"><img class="pendant15" src="{{ asset('images/coaching/humain/mi_stage.png') }}"></div>

                <div class="slideContent">

                    <h3>Mi-stage<br>
                    "Phase d'évaluation et de bilan intermédiaire"</h3>
                    
                    <ul>
                        <li><p><b>Préparation évaluation mi-stage</b> : séance préparation évaluation/ coach personnel</b></p></li>
                        <li><p><b>Evaluation</b> de l’<b>évolution des compétences</b> acquises dans les projets et bilan sur les dimensions suivantes :</p></li>
                    </ul>

                </div>

            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">

                    <ul>
                        <li><p><b>Bilan projets</b> :<br>
                        <span>-</span>Evaluation <b>qualité délivrables</b> ( moyenne de toutes les évaluations hebdomadaires) / par coordinateurs<br>
                        <span>-</span>Evaluation <b>comportement / professionnalisme</b> / par coach(s) RH projets ( moyenne de toutes les évaluations hebdomadaires<br>
                        <span>-</span>Evaluation <b>engagement</b> / par GES, <b>Community Management</b> et <b>Values</b><br>
                        <span>-</span>Évaluation <b>évolution compétences-métiers</b>/ par programme "Référents"<br>
                        <span>-</span>Bilan <b>durabilité</b> / par équipe SSLP ( staff Sustainable Living Program)</p></li>
                        <li><p><b>Débriefing évaluation mi-stage</b> :<br>
                        <span>-</span>Séance avec Job coach<br>
                        <span>-</span>Séance avec coach personnel</p></li>
                    </ul>

                </div>

            </div>

        </div>

        <div class="slide">

            <div class="slideContainer">

                <div class="slideImg center"><img class="pendant16" src="{{ asset('images/coaching/humain/fin_de_stage1.png') }}"></div>

                <div class="slideContent">

                    <h3>Fin de stage<br>
                    "Phase d'évaluation et de bilan final"</h3>
                    <p><b>Préparation</b> évaluation fin de stage :</p>
                    <ul>
                        <li><p>séance <b>préparation évaluation fin de stage</b> / coach personnel</b></p></li>
                        <li><p>demande de <b>création vidéo marketing personnel</b> fin de stage </p></li>
                        <li><p>demande <b>témoignage</b> vidéo, écrit ou podcast pour humans of gaea21</p></li>
                    </ul>

                    <p><b>Bilan</b> des compétences acquises dans les projets et bilan sur les dimensions suivantes :</p>

                </div>

            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">

                    <ul>
                        <li><p><b>Bilan projets</b> :<br>
                        <span>-</span>Evaluation <b>qualité livrables</b> (moyenne de toutes les évaluations hebdomadaires) / par coordinateurs<br>
                        <span>-</span>Evaluation <b>comportement / professionnalisme</b> / par coach(s) RH projets (moyenne de toutes les évaluations hebdomadaires)<br>
                        <span>-</span>Evaluation <b>engagement</b> / par GES, <b>Community Management et Values</b> <br>
                        <span>-</span>Validation finale <b>compétences-métiers</b> / par programme "Référents"<br>
                        <span>-</span>Bilan <b>durabilité</b> / par équipe SSLP (staff Sustainable Living Program) <br>
                        <span>-</span>Point sur <b>certificats de compétences acquises et certificats de formation complémentaires en durabilité</b> (par département formations)<br>
                        <span>-</span><b>Bilan et évaluation finale stage</b> (tous les projets/départements concernés)</p></li>
                    </ul>

                </div>

            </div>

            <div class="slideContainer">

                <div class="slideImg center"><img class="pendant17" src="{{ asset('images/coaching/humain/fin_de_stage3.png') }}"></div>

                <div class="slideContent">

                    <h3>Debriefing fin de stage</h3>
                    <p>Avec le job coach :</p>
                    <ul>
                        <li><p><b>Analyse vidéo</b> de marketing personnelle de fin de stage</b></p></li>
                        <li><p><b>Bilan</b> :<br>
                        <span>-</span>compétences<br>
                        <span>-</span>formations<br>
                        <span>-</span>objectifs formation / carrière</p></li>
                    </ul>

                    <p>Bilan des compétences acquises dans les projets et bilan sur les dimensions suivantes :</p>

                </div>

            </div>

            <div class="slideContainer">

                <div class="slideContentExeption">

                    <ul>
                        <li><p>Livraison <b>carte-profil / bilan personnel gaea21 final</b> :<br>
                        <span>-</span>dimension <b>compétences métiers</b> (job coach / équipe référents)<br>
                        <span>-</span>dimension <b>compétences / formations complémentaires</b> (équipe formations))<br>
                        <span>-</span>dimension <b>compétences spécifiques gaea21</b> par Job coach et coach projet (télétravail et organisation personnelle / professionnalisation - gestion de projets / management durable / gestion d'équipe / capacité à gérer avec efficacité : structuration planification ; temps ; objectifs / capacité à gérer la mise en place, le suivi et la qualité d'un livrable / rigueur / fiabilité)<br>
                        <span>-</span>dimension <b>durabilité individuelle</b> (équipe SLP)<br>
                        <span>-</span>Bilan <b>durabilité</b> / par équipe SSLP (staff Sustainable Living Program) <br>
                        <span>-</span>Point sur <b>certificats de compétences acquises et certificats de formation complémentaires en durabilité</b> (par département formations)<br>
                        <span>-</span><b>Bilan et évaluation finale stage</b> (tous les projets/départements concernés)</p></li>
                    </ul>

                </div>

            </div>
            
            <div class="slideContainer">

                <div class="slideContentExeption">

                    <ul>
                        <li><p>Mise en place et inscription dans <b>programme alumni</b></p></li>
                    </ul>

                </div>

            </div>

        </div>

    </div>
    
    
    <button id="d"><a id="lien_suivant">&#8250;</a></button>

</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('carrouselCoachingPendant') }}
    {{ encore_entry_script_tags('smallCardApp') }}
    {{ encore_entry_script_tags('prevArrowApp') }}
{% endblock %}