<div class="secondary-nav_container">
    <ul class="items">
        <li class="item"><a href="{{path('app_projets_projets_pilotes')}}">Projets pilotes</a></li>
        <li class="item"><a href="{{path('app_projets_recherches_appliquees')}}">Projets de recherche appliquée</a></li>
        <li class="item"><a href="{{path('app_projets_participer')}}">Participer à un projet de gaea21</a></li>
        <li class="item"><a href="{{path('app_projets_coaching_projet_durable')}}">Coaching de projets durables</a></li>
        {# <li class="item"><a href="{{path('app_projets_expansion')}}">Programme expansion / creer un gaea21 local</a></li> #}
    </ul>
</div>