{% extends 'base.html.twig' %}

{% block body %}
  {% include "/gaea21/topbar.html.twig" %} 
   <div class="sectionFirst">
		<div class="container">
			<div class="row">
				<div class="col l8 m8 s12">
					<H3 class="white-text">QUI SOMMES NOUS ?</H3>
					<hr class="white"/>
					<p class="white-text" style="font-weight:bold;font-family:'Times New Roman;font-size:30px;">
					Lorem ipsum dolor sit amet consectetur, adipisicing 
					elit. Aliquam minus, aspernatur voluptatibus nesciunt 
					doloremque enim doloribus explicabo velit laboriosam ut quas,
					 unde similique 
					officiis quae omnis magni. Blanditiis, debitis animi.
					</p>
				</div>
			</div>
		</div>
	</div>

	<section class="sectionSecond">
	<div class="center">
		<h4>MODEL GAEA21</h4>
		<p>les fonctionnements et  l'action de gaea21 sont basé sur un model qui s'articule
		au des dimensions suivantes
		</p>
	 </div><br><br><br>
	 <div class="row">
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
		<div class="col l2 m4 s4">
		  <p>Lorem ipsum dolor sit amet, 
		  consectetur adipisicing elit. Laudantium 
		  perspiciatis consequatur ab explicabo aperiam 
		  voluptatibus nisi harum, ut ducimus eligendi 
		  quam consequuntur
		   quibusdam odit est minus beatae esse, 
		   maxime incidunt?</p>
		</div>
	 </div>
	</section>
	{# Univers Geaa21 #}
    <section class="sectionThree">
	    <h4 class="center">UNIVERS GAEA</h4>
        <div class="container">
			<div class="row">
				<div class="col l4 s4 m4">
					<h5>Site et Programme</h5>
				</div>
				<div class="col l4 s4 m4">
					<h5>Les Franchises gaea21</h5>
				</div>
				<div class="col l4 s4 m4">
					<h5>Les Commaunauté de gaea21</h5>
				</div>
			</div>
		</div>
	</section>

	{# Organigramme #}
    <section class="sectionThree">
	    <h4 class="center">ORGANIGRAMME</h4>
        <div class="container">
			<div class="row">
			   <br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
			</div>
		</div>
	</section>


	{# HISTORIQUE #}
    <section class="sectionThree">
	    <h4 class="center">HISTORIQUE</h4>
        <div class="container">
			<div class="row">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
				 Illo, at non doloribus delectus veritatis autem. 
				 Doloremque laboriosam iusto iste reprehenderit fugit 
				 amet dolorum dolorem excepturi quasi, totam dicta 
				 quaerat consequatur laudantium id earum alias dignissimos
				  rerum distinctio? Illo facere sint similique v
				  elit quidem. Dicta reiciendis deleniti, itaque cum soluta quos eligendi suscipit. Fuga molestiae, temporibus harum voluptatum non consectetur maxime eligendi, sequi libero nam repellat rerum tenetur est corrupti numquam nostrum dignissimos ab facere ratione amet? Esse officiis numquam ducimus et maiores neque facilis maxime non quidem eum, aliquid nulla ex accusantium. Architecto vel qui eligendi. Illo incidunt provident, sit dolor deserunt doloremque quos ducimus corporis expedita vel autem nam quas reprehenderit saepe, accusamus doloribus! Corrupti optio saepe error rem laborum voluptatum cumque eum dolore esse, dolor, asperiores necessitatibus quos architecto veniam laudantium odit quod reprehenderit, est culpa ipsa recusandae doloremque fugit sunt quaerat! Velit animi dolorem fuga temporibus ullam delectus, recusandae quisquam cumque repellat ut aperiam aliquam pariatur atque maiores esse, aspernatur ea illum corrupti. At illo sequi laudantium quibusdam hic sed numquam ea beatae perspiciatis, dicta, incidunt ex, odio ad aliquam velit consectetur repellat. Nulla, eum exercitationem. Sequi consectetur voluptas cumque dolore reprehenderit praesentium voluptatem similique culpa! Vero autem quo consectetur, voluptatum rerum delectus veritatis adipisci minus hic est nobis ipsam molestiae dolorum velit eius ex aspernatur. Numquam, corrupti ipsum! Aliquid repudiandae in assumenda hic tenetur repellat eligendi debitis quibusdam, doloremque cumque! Repudiandae, laudantium, incidunt, officiis facilis sapiente harum sunt totam ut voluptates fuga aperiam magni velit ex impedit exercitationem dicta dolorum ipsa suscipit ea repellendus? Accusamus cupiditate consequatur hic recusandae amet quibusdam modi saepe fugiat impedit itaque distinctio enim quisquam ipsa laboriosam, ipsum, tempora id quo eius nesciunt tenetur? Explicabo quibusdam qui iusto harum dignissimos, eos eius, in perferendis fugiat sit nemo inventore possimus minima nihil eveniet temporibus fuga architecto, magnam neque! Vel rerum quos voluptatum? Laudantium nostrum dignissimos molestiae itaque veritatis veniam ullam doloremque eligendi assumenda, voluptatem sapiente maxime libero, aperiam deleniti rem minus consequuntur asperiores exercitationem quia. Molestiae voluptates iste praesentium aliquam labore, illum architecto, cumque ad voluptatem voluptas quas aspernatur blanditiis. Corporis repellat labore quidem natus numquam ipsa dolor adipisci rerum minima dolore accusamus dignissimos reprehenderit voluptas obcaecati exercitationem ullam voluptatum, nobis quis! Numquam at, velit placeat quaerat, sit quos debitis atque hic voluptates, impedit alias! Itaque quasi possimus enim molestiae atque ex impedit inventore vero. Voluptate quod officia dignissimos iure eaque. Tempora, ex!</p>
			</div>
		</div>
	</section>

	{# Organigramme #}
    <section class="sectionThree">
	    <h4 class="center">PARTENAIRE</h4>
        <div class="container">
			<div class="row">
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
			</div>
		</div>
	</section>
    
	{# Organigramme #}
    <section class="sectionThree">
	    <h4 class="center">IMPACT</h4>
        <div class="container">
			<div class="row">
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
			</div>
		</div>
	</section>


    <section class="section-second">
    <div class="container">
		<table class="responsive-table striped">
		<thead>
		<th>ID</th>
		<th>CATEGORIES</th>
		<th>ACTIONS</th>
		</thead>
		<tbody>
		{% for Cate in Categoris %}
			<tr>
			<td>{{Cate.id}}</td>
			<td>{{Cate.name}}</td>
			<td>
				<a href="" class="btn btn-floating transparent"><i class="material-icons blue-text">visibility</i></a>
				<a href="{{path('modifier',{id:Cate.id})}}" class="btn btn-floating transparent"><i class="material-icons green-text">edit</i></a>
				<a href="{{path('delete',{id:Cate.id})}}" class="btn btn-floating transparent"><i class="material-icons red-text">delete</i></a>
			</td>
			</tr>
		{% endfor %}
		</tbody>
    </table>
 </div>
</section>

 <section class="section-second">
    <div class="container">
		<table class="responsive-table striped">
		<thead>
		<th>ID</th>
		<th>LANGUE</th>
		<th>ABREVIATION</th>
		<th>ICONS</th>
		<th>ACTIONS</th>
		</thead>
		<tbody>
		{% for Lan in Langues %}
			<tr>
			<td>{{Lan.id}}</td>
			<td>{{Lan.name}}</td>
			<td>{{Lan.Abreviation}}</td>
			<td>{{Lan.Icons}}</td>
			<td>
				<a href="" class="btn btn-floating transparent"><i class="material-icons blue-text">visibility</i></a>
				<a href="{{path('Modifier',{id:Lan.id})}}" class="btn btn-floating transparent"><i class="material-icons green-text">edit</i></a>
				<a href="{{path('Del',{id:Lan.id})}}" class="btn btn-floating transparent"><i class="material-icons red-text">delete</i></a>
			</td>
			</tr>
		{% endfor %}
		</tbody>
    </table>
 </div>
</section>
   {% include "/gaea21/footer.html.twig" %} 
	 
{% endblock %}